.header-navigation {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    align-items: center;
    margin-left: 160px;
}

.nav-container {
    list-style-type: none;  
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 0px;  
    margin: 50px; 
    color: white;

}




footer {
    background-color: rgb(48, 47, 47);
    color: white;
    text-align: center;
    height: 3.2em;
    line-height: 3.2em; 
    position: bottom;
    padding: 0;
}