.header-navigation {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background-color: rgb(48, 47, 47);
    color: white;
    padding: 10px 20px;
}

.title {
    margin-left: 220px;
}

.nav-container {
    list-style-type: none;  
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 50px;  
}

.about-us {
    text-align: center;
}

.first-image-desc {
    text-align: center;
}

.img-1 {
    display: block; 
    margin: 0 auto; 
    width: 600px;
    height: 400px;
}



footer {
    background-color: rgb(48, 47, 47);
    color: white;
    text-align: center;
    height: 3.2em;
    line-height: 3.2em; 
    position: bottom;
    padding: 0;

}