.header-navigation {
    align-items: center;
    height: 3.2em;
}


.nav-container {
    background-color: rgb(48, 47, 47);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    height: 3.2em;
    line-height: 3.2em; 
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: medium;
}



.global-footer {
    background-color: rgb(48, 47, 47);
    color: white;
    text-align: center;
    height: 3.2em;
    line-height: 3.2em; 
    position: bottom;
}